body {
    margin: 0;
}

.header {
    margin-top: 30px;
    margin-bottom: 50px;
}

.phone {
    margin-top: 30px;
    margin-bottom: 30px;
}

.sort-block .sort-item {
    padding-right: 20px;
    padding-bottom: 30px;
}

.price {
    font-weight: bold;
}

