body {
  padding-top: 3.5rem;
}

.prod-name {
    height: 20%;
    color: green;
}

.prod-block {
    margin-bottom: 10px;
    height: 280px;
    border-bottom: dotted;
    border-bottom-width: 0.04em;
}
.comment {
    font-style: italic;
}
.message {
    color: white;
    background-color: grey;
}
