{% extends "_base.html" %}

{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Street</th>
          <th>District</th>
        </tr>
      </thead>
      <tbody>
      {% for station in pag %}
        <tr>
          <td>{{ station.Name }}</td>
          <td>{{ station.Street }}</td>
          <td>{{ station.District }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% if pag.has_previous %}
        <a class="button button-primary" href="?page={{ pag.previous_page_number }}">⟵</a>
    {% endif %}
        <a class="button disabled" href="">{{ pag.number }} из {{ pag.paginator.num_pages }}</a>
    {% if pag.has_next %}
        <a class="button button-primary" href="?page={{ pag.next_page_number }}">⟶</a>
    {% endif %}
  </div>
</div>
{% endblock %}
