{% extends "index.html" %}

{% block content %}

    {% for category in items %}
      <div class="jumbotron">
        <div class="container">
            {{ category.description | safe }}
        </div>
      </div>

        <div class="container mb-5">
            <div class="row">
                {% for product in category.products_set.all %}
                <div class="col-md-4">
                    <div class="prod-name">
                        <h6>{{ product.name }}</h6>
                    </div>
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" width="180">
                    </a>

                    <form method="POST" action="{% url 'cart:cart_add' product.id %}">
                        {% csrf_token %}
                        <div style="display:none;">
                            {{ cart_product_form }}
                        </div>
                        <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

{% endblock %}
