{% extends "index.html" %}
{% load static %}
{% block content %}

<div class="customer-login">
<form class="form-signin" method="post">
  <input type="hidden" name="next" value="{{ next }}">
  <img class="mb-4" src="{% static 'img/logo.svg' %}" alt="" width="72" height="72">

  <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
   <p style="color: red; font-style: italic;">{{ error }}</p>
    {% csrf_token %}
    {{ form }}
  <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
  <p class="mt-5 mb-3 text-muted">© Просто магазин 2018</p>
</form>
</div>
{% endblock %}
