{% extends "index.html" %}

{% block content %}

  <div class="container mt-3">

    <div class="row">
      <div class="col-md-5 col-sm-12 text-center">
        <img src="{{ product.image.url }}" width="280">
      </div>

      <div class="col-lg-7 col-md-7 col-sm-12 text-center">
          <div>
            <br>
            <h3>{{ product.name }}</h3>
            <br>
            <p class="comment">{{ product.short_text }}</p>
          </div>
          <div>
              <p style="font-size: 1.6em;">Цена: {{ product.price }} руб.</p>
              {% if product.quantity > 0 %}
                  <form method="post" action="{% url 'cart:cart_add' product.id %}">
                    {% csrf_token %}
                    {{ cart_product_form }}
                    <input type="submit" class="btn btn-secondary" value="Добавить в корзину">
                  </form>
              {% else %}
                  <p style="font-size: 1.2em; color: orange;">Извините, данный товар закончился.</p>
              {% endif %}
          </div>
      </div>

    </div>

    <hr>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        {{ product.description | safe }}
      </div>
    </div>
    <hr>

    ★★★★★ <span>Вася</span>
    <p> Хороший отзыв</p>

    ★★ <span>Петя</span>
    <p> Плохой отзыв</p>

    <hr>

    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <h4>Оставте отзыв:</h4>

        <form action="./merch/1/feedback" method="post">
          <input type="hidden" name="csrfmiddlewaretoken"
                 value="N4vcBqzjoYkU7OTDuAT8hq8srpvYX44nJsswuP7e3EYg0Hq8DgxuR0eiXWbSr5RZ">
          <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
                   placeholder="Представтесь" name="name" data-cip-id="name">
          </div>
          <div class="form-group">
            <label for="content">Содержание</label>
            <textarea class="form-control" id="content" placeholder="Содержание"
                      name="description"></textarea>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark1" value="1">
            <label class="form-check-label" for="mark1">
              1
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark2" value="2">
            <label class="form-check-label" for="mark2">
              2
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark3" value="3">
            <label class="form-check-label" for="mark3">
              3
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark4" value="4">
            <label class="form-check-label" for="mark4">
              4
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark5" value="5">
            <label class="form-check-label" for="mark5">
              5
            </label>
          </div>

          <button type="submit" class="btn btn-primary">Оставить</button>
        </form>
      </div>
    </div>

  </div> <!-- /container -->

{% endblock %}
