{% extends "base.html" %}
{% load static %}

{% block title %}Заголовок статьи{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h3>{{ article.title }}</h3>
            <p>{{ article.body }}</p>
        </div>
        {% if visible %}
        <form action="{% url 'show_article' article.id  %}" method="POST"">
            {% csrf_token %}
            <br>
            <input type="submit" value="Подписаться"/>
        </form
        {% endif %}
    </div>
{% endblock %}